body {
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: black;
}

.logo {
    margin: 0 550px;
    width: 140px;
}

.container-fluid {
    background-color: rgb(51, 163, 204);
    font-size: 22px;
    color: white;
    height: 90px;
}

ul {
    list-style: none;
    margin-right: 100px;
}

ul li {
    margin: 10px 40px;
}

h2 {
    padding: 15px;
}

.team {
    text-align: center;
    padding: 20px 0;
}

.image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    text-align: center;
}

.main {
    max-width: 100%;
    padding: 20px 100px;
    font-size: 18px;
}

footer {
    background-color: rgb(51, 163, 204);
    padding: 10px 20px;
    font-size: 18px;
    color: white;
}

